<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SIH 26106 - Email Forensics</title>
</head>

<body>

    <h1>SIH 26106 Email Forensics Platform</h1>

    <h2>Upload Suspicious Email</h2>

    <form action="/analyze-email" method="POST" enctype="multipart/form-data">

        <input
            type="file"
            name="email"
            accept=".eml"
            required
        >

        <br><br>

        <button type="submit">
            Analyze Email
        </button>

    </form>

</body>

</html>